<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="festival.model.DaysDao"> 
  <insert id="insert" parameterType="days">
      insert into days(fno,day,stime,etime) values(#{fno},#{day},#{stime},#{etime})
  </insert>
  <select id="selectByDno" parameterType="int" resultType="days">
      select * from days where dno = #{dno}
  </select>
  <select id="selectListAll" resultType="days">
      select * from days order by dno desc
  </select>
  <select id="selectListByFno" parameterType="int" resultType="days">
      select * from days where fno = #{fno}
  </select>
  <update id="updateByDno" parameterType="days">
      update days set fno = #{fno}, day=#{day}, stime=#{stime}, etime=#{etime} where dno = #{dno}
  </update>
	<select id="selectList" resultType="days">
		select * from days order by dno asc;
	</select>
	<select id="selectListByDno" parameterType="int" resultType="days">
		select dno, fno, day, stime, etime from days where dno = #{dno}
	</select>
	<delete id="deleteDays" parameterType="int">
		delete from days where dno = #{dno}
	</delete>
	
	<update id="updateDays" parameterType="days">
		update days set
	    dno = #{dno},
	    fno = #{fno},
	    day = #{day},
	    stime = #{stime},
	    etime = #{etime}
  		where dno = #{dno}
	</update>
	<delete id="deleteDaysByFno" parameterType="int">
		delete from days where fno = #{fno}
	</delete>

</mapper>