<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="festival.model.ReservationDao"> 
  <insert id="insert" parameterType="reservation">
      insert into reservation(uno, sno, rtime) values(#{uno},#{sno},#{rtime})
  </insert>
  <select id="selectAllbyUno" parameterType="int" resultType="reservation">
      select * from reservation where uno = #{uno}
  </select>
  <select id="selectList" resultType="reservation">
      select * from reservation order by rno desc
  </select>
  <update id="updateSnoAndRtimeByRno" parameterType="reservation">
      update reservation set sno = #{sno}, rtime=#{rtime} where rno=#{rno} 
  </update>
</mapper>