<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation.model.ReservationViewDao">    
  <select id="selectDetailListbyUno" parameterType="int" resultType="ReservationView">
      select * from reservationView where uno =#{uno}
  </select>
  <select id="selectDetailByRno" parameterType="int" resultType="ReservationView">
      select * from reservationView where rno =#{rno}
  </select>
   <select id="selectListByDate" parameterType="string" resultType="ReservationView">
      select * from reservationView where rtime &gt;= #{param1} and rtime &lt;= #{param2}
  </select>
</mapper>