@CHARSET "UTF-8";

body{
background-color: #FFEBEE;
font-family: 'Fugaz One', cursive;
}

a{
	text-decoration: none;
}

#container{
	width: 100%;
	height: 2400px;
	margin: 0 auto;
}

#history{
	width: 100%;
	height: 40px;
	border: 1px solid #000000;
}

#title{ 
	text-align: center;
	width: 100%;
	height: 800px;
	color: #F06292;
	background: url("../img/main.png") no-repeat;
	background-size: cover;
	
}

#header{
	width: 89%;
	height: 100%;
	display:inline;
	border: 1px solid #000000;
	float: left;
}

#a1{
	font-size: 50px;
	font-weight: bold;
	text-shadow: 5px 5px 0px #FFFFFF;
}

#a2{
	font-size: 100px;
	font-weight: bold;
	text-shadow: 5px 5px 0px #FFFFFF;
}

#aside{
	width: 9%;
	height: 100%;
	display:inline;
	border: 1px solid #000000;
	float: right;
}

#day1{
	width: 100%;
	height: 25%;
	display: block;
	border: 1px solid #000000;

	font-size: 50px;
}

#day2{
	width: 100%;
	height: 25%;
	display: block;
	border: 1px solid #000000;

	font-size: 50px;
}

#day3{
	width: 100%;
	height: 25%;
	display: block;
	border: 1px solid #000000;
	font-size: 50px;
}

#nav{
	height: 100px;
	background-color: #F06292;
	border: 1px solid #000000;
	clear: both;
}

#nav ul li{
	list-style: none;
	display: inline;
	float: left;
	margin: 20px;
}

#content{
	height: 1300px;
	background-color: #ffffff;
	border: 1px solid #000000;
}

#footer{
	height: 200px;
	border: 1px solid #000000;
}