@CHARSET "UTF-8";

@font-face {
	font-family: 'Arca Majora 3 Heavy';
	src: url(../font/ArcaMajora3-Heavy.otf);
}


body {
	font-family: 'Arca Majora 3 Heavy', '12롯데마트행복Medium';
}

#container {
	width: auto;
	margin: 0 auto;
}

#header {
	width: 100%;
	height: 100px;
	float: left;
	position: fixed;
	top: 0;
}

.header-up{
	background: none;
	color:black;
}

.header-down{
	background: white;
	border-bottom : 5px dotted #EDAEC4;
	
}

/* -------------------------------NAV------------------------------- */
#nav {
	height: 100%;
	width: 75%;
	display: inline;
}

#nav ul li {
	list-style: none;
	display: inline;
	float: left;
	margin: 20px;
}

#nav ul li a {
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: #000000;
}

#nav ul li a:HOVER {
	color: #F48FB1;
	border-bottom: 4px solid #F48FB1;
}

/* -------------------------------login------------------------------- */
#login {
	height: 100%;
	width: 10%;
	display: inline;
	float: right;
	white-space: nowrap;
}

#login a {
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	display: block;
	font-size: 20px;
	color: #000000;
	border: 1px solid #000000;
	text-align: center;
}

/* -------------------------------title------------------------------- */
#title {
	width: 100%;
	height: 500px;
	clear: both;
	margin-top: 80px;
	margin-left: 20px;
	text-overflow: clip;
	white-space: nowrap;
	overflow: hidden;
	user-select: none;
}

#title .capital {
	color: #F48FB1;
}

#title a {
	font-style: normal;
	font-weight: bold;
	font-size: 1300%; /*  211px; */
	color: #000000;
}

/* -------------------------------CONTENT------------------------------- */
#content {
	width: 100%;
}

/* -------------------------------FOOTER------------------------------- */
<<<<<<< HEAD
#footer {
	height: 160px;
	border: 1px solid #000000;
=======
#footer{
	width: 100%;
	height: 600px;
>>>>>>> refs/remotes/origin/hak8
	clear: both;
<<<<<<< HEAD
}


@media screen and (min-width:1025px) and (max-width:1199px) {


	/* -------------------------------NAV------------------------------- */
	#nav ul li {margin: 16px;}
	#nav ul li a {font-size: 26px;}
	#nav ul li a:HOVER {border-bottom: 3px solid #F48FB1;}

	/* -------------------------------login------------------------------- */
	#login {width: 13%;}

	/* -------------------------------title------------------------------- */
	#title {height: 240px;margin-top: 110px;s}

	#title a {font-size: 700%;}

	/* -------------------------------FOOTER------------------------------- */
	#footer {height: 120px;}
}



/*          1024 ~ 481        */
@media screen and (min-width:480px) and (max-width:1024px) {
	/* -------------------------------NAV------------------------------- */
	#nav ul li {margin: 14px;}
	#nav ul li a {font-size: 22px;}
	#nav ul li a:HOVER {border-bottom: 3px solid #F48FB1;}

	/* -------------------------------login------------------------------- */
	#login {width: 20%;}
	#login a{font-size: 12px;}
	

	/* -------------------------------title------------------------------- */
	#title {height: 240px;margin-top: 170px;}

	#title a {font-size: 300%;}

	/* -------------------------------FOOTER------------------------------- */
	#footer {height: 80px;}
}

/*          ~ 480        */
@media screen and (max-width:480px) {
		/* -------------------------------NAV------------------------------- */
	#nav ul li {margin: 12px;}
	#nav ul li a {font-size: 16px;}
	#nav ul li a:HOVER {border-bottom: 3px solid #F48FB1;}

	/* -------------------------------login------------------------------- */
	#login {width: 30%;}
	#login a{font-size: 12px;}

	/* -------------------------------title------------------------------- */
	#title {height: 240px;margin-top: 170px;}

	#title a {font-size: 230%;}

	/* -------------------------------FOOTER------------------------------- */
	#footer {height: 80px;}
	
=======
	border-top: 5px solid #E91E63;
	background-color: #FDEFF4;
	text-align: center;
	padding-top: 30px;
}

#ourpartner{
	margin-bottom: 20px;
}

#ourpartner a{
	font-size: 20px;
	color: #E91E63;
	margin-bottom: 20px;
}

#partner{
	width: 1000px;
	height: auto;
	border-bottom: 2px solid #E91E63;
	margin: 0 auto;
}

#partner img{
	width: 70px;
	margin: 20px;
}

#sns{
	margin-top: 20px;
}

#sns img{
	width: 50px;
	height: auto;
	margin: 20px;
}

#footerNav{
	margin-top: 20px;
}

#footerNav a{
	text-decoration: none;
	font-size: 15px;
	margin-left: 20px;
	color: #E91E63;
}

#footerNav a:HOVER {
	color: #880E4F;
}

#copyright{
	margin-top: 80px;
}

#copyright a{
	color: #E91E63;
	font-size: 12px;
>>>>>>> refs/remotes/origin/hak8
}