@CHARSET "UTF-8";

@font-face {
	font-family: 'Arca Majora 3 Heavy';
	 src:url(../font/ArcaMajora3-Heavy.otf); 
}
	
body{
	font-family: 'Arca Majora 3 Heavy','12롯데마트행복Medium';
}

#container{
	width: 100%;
	height: auto;
	margin: 0 auto;
}


/* -------------------------------header------------------------------- */

#header{
	display : flex;
 	justify-content: space-between;
 	flex-wrap:wrap;
 	padding: 10px;
 	width:100%;
}

#nav{
	display: flex;
	align-items: center;
}

#login{
	display: flex;
	align-items: center;
	flex-direction : column;
	margin-right:20px;
}

.headerItem{
	cursor: pointer;
	font-weight: bold;
	font-size: 30px;
	color: #000000;
	padding: 5px 15px;      
}

.headerItem:hover{
	color: #00c2ff;
	border-bottom: 4px solid #00c2ff;
}

#login .headerItem{
	font-size:20px;
	text-align:center;
	margin:5px;
	padding:10px;
	width:140px;
}

.DGF, .DGF:hover{
	color: #F48FB1;
	border:none;
	cursor: default;
}

.header-up{
	background: none;
	position:relative;
}

.headerItem-up{
	color:black;
}

.header-down{
	background: #E91E63;
	position:fixed;
	color:white;
}

.headerItem-down{
	color:white;
	border:none;
}

#map{
	background: url("../img/map.png") no-repeat center;
	background-size:contain;
	width:50px;
	height:50px;
}

/* -------------------------------title------------------------------- */
#title{
	width: 100%;
	height:45%;
	clear: both;
	background: url("../img/title.png") no-repeat;
	background-size: contain;
}

/* -------------------------------CONTENT------------------------------- */
#content{
	width: 100%;
	height: auto;
}

/* -------------------------------FOOTER------------------------------- */
#footer{
	width: 100%;
	height: 600px;
	clear: both;
	border-top: 5px solid #E91E63;
	background-color: #FDEFF4;
	text-align: center;
	padding-top: 30px;
}

#ourpartner{
	margin-bottom: 20px;
}

#ourpartner a{
	font-size: 20px;
	color: #E91E63;
	margin-bottom: 20px;
}

#partner{
	width: 1000px;
	height: auto;
	border-bottom: 2px solid #E91E63;
	margin: 0 auto;
}

#partner img{
	width: 70px;
	margin: 20px;
}

#sns{
	margin-top: 20px;
}

#sns img{
	width: 50px;
	height: auto;
	margin: 20px;
}

#footerNav{
	margin-top: 20px;
}

#footerNav a{
	text-decoration: none;
	font-size: 15px;
	margin-left: 20px;
	color: #E91E63;
}

#footerNav a:HOVER {
	color: #880E4F;
}

#copyright{
	margin-top: 80px;
}

#copyright a{
	color: #E91E63;
	font-size: 12px;
}





/* 1151 ~ 1025 */
@media screen and (min-width:1025px) and (max-width:1151px) {	
	.headerItem{font-size: 24px;}
}



/*          1024 ~ 481        */
@media screen and (min-width:480px) and (max-width:1024px) {
	.headerItem{font-size: 22px;}
}

/*          ~ 480        */
@media screen and (max-width:480px) {

	
	
}