@CHARSET "UTF-8";

#content{

}

body {
	font-family: 'Arca Majora 3 Heavy';
	src: url(font/ArcaMajora3-Heavy.otf);
}

#loginDialog {
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	margin: 0;
	padding: 0;
	top: 0px;
	visibility: hidden;
}

.loginBox {
	margin-top: 300px;
	background-color: rgba(0, 0, 0, 0.6);
}

.loginBox p {
	margin: 20px;
}

.loginBox p input {
	height: 50px;
	background-color: rgba(0, 0, 0, 0.9);
}

.loginBox .inpJoin {
	background-color: rgba(0, 0, 0, 0.9);
	margin: 10px;
}

/*--------------------------------- day1 ---------------------------------*/
#day1 {
	width: 30%;
	height: auto;
	display: inline-block;
	margin-left: 80px;
}

.lineupList{
	width: 400px;
}

#day2 {
	width: 30%;
	height: auto;
	display: inline-block;
	margin-left: 30px;
}

#day3 {
	width: 30%;
	height: auto;
	display: inline-block;
	margin-left: 30px;
}

.day1 {
	width: 90%;
	height: 300px;
	margin: 10px;
}

.day1:NTH-CHILD(1) {
	background-image: url("../img/redvelvet/redvelvet02.jpg");
	background-size: cover;
}

.day1:NTH-CHILD(2) {
	background-image: url("../img/apink/apink04.jpg");
	background-size: cover;
}

.day1:NTH-CHILD(3) {
	background-image: url("../img/mamamoo/mamamoo05.jpg");
	background-size: cover;
}

.day1:NTH-CHILD(4) {
	background-image: url("../img/gugudan/gugudan05.jpg");
	background-size: cover;
}

.day1:NTH-CHILD(5) {
	background-image: url("../img/ohmygirl/ohmygirl02.jpg");
	background-size: cover;
}

/*--------------------------------- day2 ---------------------------------*/
.day2 {
	width: 90%;
	height: 300px;
	margin: 10px;
}

.day2:NTH-CHILD(1) {
	background-image: url("../img/twice/twice08.png");
	background-size: cover;
}

.day2:NTH-CHILD(2) {
	background-image: url("../img/lovelyz/lovelyz05.png");
	background-size: cover;
}

.day2:NTH-CHILD(3) {
	background-image: url("../img/dia/dia07.jpg");
	background-size: cover;
}

.day2:NTH-CHILD(4) {
	background-image: url("../img/clc/clc08.jpg");
	background-size: cover;
}

.day2:NTH-CHILD(5) {
	background-image: url("../img/april/april09.jpg");
	background-size: cover;
}

/*--------------------------------- day3 ---------------------------------*/
.day3 {
	width: 90%;
	height: 300px;
	margin: 10px;
}

.day3:NTH-CHILD(1) {
	background-image: url("../img/aoa/aoa03.jpg");
	background-size: cover;
}

.day3:NTH-CHILD(2) {
	background-image: url("../img/girlfriends/girlfriends05.jpg");
	background-size: cover;
}

.day3:NTH-CHILD(3) {
	background-image: url("../img/blackpink/blackpink06.jpg");
	background-size: cover;
}

.day3:NTH-CHILD(4) {
	background-image: url("../img/cosmicgirls/cosmicgirls05.jpg");
	background-size: cover;
}

.day3:NTH-CHILD(5) {
	background-image: url("../img/sonamoo/sonamoo08.jpg");
	background-size: cover;
}