@CHARSET "UTF-8";

@font-face {
	font-family: 'Arca Majora 3 Heavy';
	 src:url(font/ArcaMajora3-Heavy.otf); 
	} 

body {
	background-color: rgb(255, 167, 167);
}

#videobcg {
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
	filter: opacity(78%) ;
}

#wrapContent {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: 100%; /* background: rgba(255,167,167,0.2); */ /* 연한핑크 */
	text-align: center;
}




h1 {
	margin: 90px 90px 40px 90px;
	font-size: 6em;
	color: rgba(255, 255, 255, 0.7);
	font-family: 'Arca Majora 3 Heavy';
	font-variant:small-caps;
	font-weight: lighter;
	line-height:105px;
	/* background: rgba(0,0,0,0.2); */
	/* text-shadow: 3px 3px 0px rgba(255,100,100,1); */
	letter-spacing: 5px;
	-webkit-text-stroke: 2px rgba(100, 67, 67, 0.5);
}

#t2 {
	color: rgba(255, 210, 210, 0.7);
}

#t3 {
	color: rgba(255, 160, 160, 0.7);
}










#loginDialog {
	margin: 0 auto;
	width: 500px;
/* 	height: 330px;
	background: rgba(205, 155, 255, 0.25);
	border-radius: 5px;
	padding: 20px;
	border : 3px rgba(25, 25, 25, 0.8);
	border: 3px solid rgba(255, 255, 255, 0.6); */
}



/* 
#f1 {
	width: inherit;
	height: inherit;
	font-size: 1.5em;
	color: rgba(255, 255, 255, 0.8);
}

#f1 table {
	width: inherit;
	height: inherit;
	table-layout: fixed;
}

td {
	text-align: center;
}

.inTxt {
	width: 210px;
	border: 0px;
	border-bottom: 1px solid black;
	padding-right: 10px;
	background-color: transparent;
	color: white;
	font-size: 1.1em;
}

.inTxt:FOCUS {
	outline-color: rgba(255, 255, 255, 0.4);
	outline-style: dotted;
}

a {
	text-decoration: none;
	color: white;
}

#btnLogin {
	width: 90%;
	height: 80%;
	background-color: rgba(255, 167, 167, 0.9);
	border: 0px;
	border-radius: 10px;
	color: white;
	font-size: 1.2em;
	font-family: 'Arca Majora 3 Heavy';
} */

/* #btnLogin:FOCUS {
	background-color: rgba(255, 50, 50, 0.9);
	outline: none;
}

#btnLogin:HOVER {
	background-color: rgba(255, 50, 50, 0.9);
}
 */
/* #a0 {
	text-align: right;
}

#a1, #a2 {
	display: inline-block;
	margin-right: 20px;
	color: rgba(0, 0, 0, 0.5);
}

#a1:HOVER, #a2:HOVER {
	color: rgba(255, 50, 50, 0.8);
}

.tdTitle {
	text-align: right;
	font-weight: bold;
	font-family: 'Arca Majora 3 Heavy';
}

#titleId {
	display: inline-block;
	padding-right: 11px;
}

.tdContent {
	text-align: left;
	padding-left: 5px;
} */